openai
flask==3.0.3
flask-socketio==5.3.6
flask-sqlalchemy==3.1.1
gunicorn==22.0.0
eventlet==0.36.1
requests==2.31.0
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.0
python-dotenv==1.1.0
pytoniq==0.1.43
aiohttp==3.9.5
ta==0.11.0
dedust==1.1.4
python-telegram-bot==21.1.1
sqlalchemy==2.0.30
psycopg2-binary==2.9.9
email_validator
xgboost
cryptography
ccxt
pytoniq-core
openai
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
apscheduler
ccxt
dedust
email_validator
eventlet
flask
flask-socketio
flask-sqlalchemy
gunicorn
joblib
numpy
openai
pandas
psycopg2-binary
python-dotenv
python-telegram-bot
pytoniq
pytoniq-core
requests
scikit-learn
sqlalchemy
ta
flask-compress
orjson
